<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Electro - HTML Ecommerce Template</title>
	<!-- alertify -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css" />
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/semantic.min.css" />
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/bootstrap.min.css" />




	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/home_css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/home_css/slick.css" />
	<link type="text/css" rel="stylesheet" href="/home_css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/home_css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/home_css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/home_css/style.css" />



	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<style>
		
.search-results {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.search-result-item div {
    display: flex;
    flex-direction: column;
}

.search-result-item .item-name {
    font-weight: bold;
}

.search-result-item .item-category {
    font-size: 12px;
    color: #666;
}

		.address-card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: first baseline;
			border: 1px solid #ddd;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			/* margin-left: 50px; */
			position: relative
				/* This helps in positioning the actions absolutely */
		}

		.btn-primary {
			background-color: #f31616;
			border: none;
			/* margin-left: 50px; */

		}

		.btn-primary:hover {
			background-color: #e73b3b;

		}
		
		.alertify .ajs-header {
        background-color: #4CAF50;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
	.alertify{
		width: 500px;
		height: 150px;
	}

    .alertify .ajs-content {
        font-size: 16px;
        color: #333;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
    }

    .alertify-button-custom {
        background-color: #4CAF50;
        color: white;
        border: none;
       width: 100px;
	   height: 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .alertify-button-custom:hover {
        background-color: #45a049;
    }

    /* .alertify-button-ok {
        display: ;
    }	 */
	</style>
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">

				<ul class="header-links pull-right">
					<% if (isAuth) { %>
						<li><a href="/user_Account"><i class="fa fa-user-o"></i>
								<%= USER.firstname %>
							</a></li>
						<a href="/logout_user">Logout</a>
						<% }else {%>

							<li><a href="/login"><i class="fa fa-user-o"></i> Login</a></li>

							<% } %>
				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/electro" class="logo">
								<img src="/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form style="display: flex;">
								<input 
									style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;width: 600px;" 
									class="input" 
									id="searchInput" 
									name="query" 
									placeholder="Search here...."
									oninput="debouncedSearch()"
								
								>
								
							</form>
							<div id="spinner" style="display: none;color: red;">
								<i class="fas fa-spinner fa-spin"></i> Searching...
							</div>
							<div id="search-results" class="search-results" style="display: none;">
								<!-- Search results will be injected here -->
							</div>
						</div>
						
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<%if(isAuth){%>

								<div>
									<a href="/wislist">
										<i class="fa fa-heart-o"></i>
										<span>My Wishlist</span>
										<div class="qty">
											<%= wishlist_count %>
										</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>My Cart</span>
										<div class="qty">
											<%= Item_Count %>
										</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<% Cart.forEach(cart=> { %>
												<% Products.forEach(product=> { %>
													<% cart.items.forEach(item=> { %>

														<% if (item.product_Id.toString()===product._id.toString()) { %>
															<div class="product-widget">
																<div class="product-img">
																	<img src="/Product_images/<%= product.images[0] %>"
																		alt="">
																</div>
																<div class="product-body">
																	<h3 class="product-name"><a href="#">
																			<%= product.name %>
																		</a></h3>
																	<h4 class="product-price"><span class="qty">
																			<%= item.Quantity %>
																		</span><i class="fa fa-rupee"></i>
																		<%= product.price %>
																	</h4>
																</div>
																<button class="delete"><i
																		class="fa fa-close"></i></button>
															</div>

															<% } %>

																<% }) %>

																	<% }) %>
																		<% }) %>

										</div>
										<div class="cart-summary">
											<small>
												<%= Item_Count %> Item(s) selected
											</small>
											<h5>SUBTOTAL:<i class="fa fa-rupee"></i>
												<%= TotalPrice %>
											</h5>
										</div>
										<div class="cart-btns">
											<a href="/cart">View Cart</a>
											<a href="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<% } else {%>
									<div>
										<a href="/login">
											<i class="fa fa-heart-o"></i>
											<span>My Wishlist</span>
											<div class="qty">0</div>
										</a>
									</div>
									<div class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
											href="/login">
											<i class="fa fa-shopping-cart"></i>
											<span>My Cart</span>
											<div class="qty">0</div>
										</a>
										<div class="cart-dropdown">
											<div class="cart-list">
											</div>
											<div class="cart-summary">
												<small>Item(s) selected</small>
												<h5>SUBTOTAL:</h5>
											</div>
											<div class="cart-btns">
												<a href="#">View Cart</a>
												<a href="/checkout">Checkout <i
														class="fa fa-arrow-circle-right"></i></a>
											</div>
										</div>
									</div>

									<% } %> <!-- /Cart -->

										<!-- Menu Toogle -->
										<div class="menu-toggle">
											<a href="#">
												<i class="fa fa-bars"></i>
												<span>Menu</span>
											</a>
										</div>
										<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="/electro">Home</a></li>
					<li><a href="/new_products">New Arrivals</a></li>
					<% Categories.forEach(category=> { %>
						<li><a href="/store/<%= category._id %> ">
								<%= category.name %>
							</a></li>

						<% }) %>


				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Checkout</h3>
					<!-- <ul class="breadcrumb-tree">
							<li><a href="/electro">Home</a></li>
							<li class="active">Checkout</li>
						</ul> -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->
     
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-7">
					<!-- Billing Details -->
					<div class="billing-details">
						<div class="section-title">
							<h3 class="title">Shiping address</h3>
						</div>
					
							<div   id="view_order" style="background-color: rgb(243, 27, 27);border-color: red; width:300px;height: 150px;display:none ;align-self: center;z-index: 1;">

							</div>

    <% if (address_to_deliver && address_to_deliver.Addresses && address_to_deliver.Addresses.length > 0) { %>
						<% address_to_deliver.Addresses.forEach(address=> { %>

							<div class="address-card">
								<div style="display: flex;">
									<input type="checkbox" id="shiping-address" name='Address' class="address_checkbox"
										value="<%= address._id %>" onchange="only_one(this,this.value)">
									<span></span>
								</div>
								<label for="shiping-address">
									<h5>
										<%=USER.firstname %>
											<%= USER.lastname%>
									</h5>
									<p>
										<%=USER.Phone_Number%>
									</p>
									<p>,<%= address.house_name %>
											<%= address.street %>
												<%= address.area %>
													<%= address.pincode %>,<%= address.district %>,<%= address.state %>
									</p>

								</label>


								<div class="btn_actions">

								</div>
							</div>
							<% }) %>

							<%} else {%>
								
                                 	<div class="shiping-details">
								
								<div class="input-checkbox">
									<input type="checkbox" id="shiping-address">
									<label for="shiping-address">

										<span></span>       
										Ship to a diffrent address?
									</label>
									<div class="caption"  id="bill_address" >
									
										<div class="form-group">
											<input class="input" type="text" name="housename"  id="house_name" placeholder="House Name/Flat No:" >
										</div>
										<div class="form-group">
											<input class="input" type="text" name="street"  id="street" placeholder="Street">
										</div>
										<div class="form-group">
											<input class="input" type="text" name="area"  id="Area" placeholder="Area/Locatity" >
										</div>
										<div class="form-group">
											<input class="input" type="text" name="pincode"   id="pincode" placeholder="Pincode" >
										</div>
									
										<div class="form-group">
											<input class="input" type="text" name="landmark"  id="landmark" placeholder="Landmark">
										</div>
										<div class="form-group">
											<input class="input" type="text" name="district"  id="city" placeholder="District" >
										</div>
										<div class="form-group">
											<input class="input" type="text" name="state"  id="state" placeholder="State" >
										</div>
									<button class="btn btn-primary add-address-btn" onclick="upload_address()"> ADD A NEW ADDRESS</button>
						       
									</div>
								</div>
							</div>
								<% } %>


					</div>
					<!-- /Billing Details -->


				</div>
			
				<!-- Order Details -->
				<div class="col-md-5 order-details">
					<div class="section-title text-center">
						<h3 class="title">Your Order</h3>
					</div>
					<div class="order-summary">
						<div class="order-col">
							<div><strong>PRODUCT</strong></div>
							<div><strong>TOTAL </strong></div>
						</div>

						<div class="order-products">

							<% buy_product.forEach((product)=>{ %>
                               <% if (product.items &&  product.cart_item  ) { %>
								
								<input class="pro_qty" value="<%= product.items.Quantity%>" hidden>
								<input type="text" class="pro_id" value="<%= product.cart_item._id%>" hidden>

								<div class="order-col">
									
									<div>
										<%= product.cart_item.name %> <strong>
												<%=product.items.Quantity %>items
											</strong>
									</div>
									<div><i class="fa fa-rupee">
											<%= product.cart_item.price%>
										</i></div>
								</div>
								<% } else {%>
									<input class="pro_qty" value="<%= total_Qty_tobuy%>" hidden>
									<input type="text" class="pro_id" value="<%=product._id%>" hidden>
	
									<div class="order-col">
										
										<div>
											<%= product.name %> <strong>
													<%=total_Qty_tobuy %>items
												</strong>
										</div>
										<div><i class="fa fa-rupee">
												<%= product.price%>
											</i></div>
									</div>
									<% } %>

								<%})%>

						</div>
						<div class="order-col">
							<div>Shiping</div>
							<div><strong>FREE</strong></div>
						</div>
						<div class="order-col">
							<div><strong>TOTAL <%= total_Qty_tobuy%> item(s)</strong></div>
							<div><strong class="order-total">
									<%=total_price_tobuy%>
								</strong></div>
						</div>
					</div>
					<div class="payment-method">
						<div class="input-radio">
							<input type="radio" name="payment" id="payment-1" class="pay_method" value="COD"
								onclick="select_payment_method(this)">
							<label for="payment-1">
								<span></span>
								Cash On Delivery
							</label>
							<div class="caption">
								<p>You Are selected Payment On the Delivery</p>
							</div>
						</div>

						<div class="input-radio">
							<input type="radio" name="payment" id="payment-2" class="pay_method" value="Online"
								onclick="select_payment_method(this)">
							<label for="payment-2">
								<span></span>
								Online Payment
							</label>
							<div class="caption">
								<p>Great! you are selected Payment Through Online</p>
							</div>
						</div>
					</div>
					<div class="input-checkbox">
						<input type="checkbox" id="terms">
						<label for="terms">
							<span></span>
							I've read and accept the <a href="/electro">terms & conditions</a>
						</label>
					</div>
					<a class="primary-btn order-submit"
						onclick="Place_Order(' <%= total_Qty_tobuy%>','<%=total_price_tobuy%>')">Place order</a>
				</div>
				<!-- /Order Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->

	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<% Categories.forEach(category=> { %>
									<li><a href="#">
											<%= category.name%>
										</a></li>

									<% }) %>

							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a href="#">About Us</a></li>
								<li><a href="/contact_us">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Orders and Returns</a></li>
								<li><a href="#">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<% if (isAuth) { %>
									<li><a href="/user_Account"> My Account</a></li>
									<% } %>
										<li><a href="/cart">View Cart</a></li>
										<li><a href="/wishlist">Wishlist</a></li>
										<li><a href="#">Track My Order</a></li>
										<li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>

					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
	
	<script src="https://checkout.razorpay.com/v1/checkout.js" ></script>

	<script>
let debouncedtimer;
function debouncedSearch()
{
clearTimeout(debouncedtimer)
 debouncedtimer= setTimeout(() => {
		search_it()
	}, 300);
}
	
async function search_it()
{
let input =	document.getElementById("searchInput").value
let query = new URLSearchParams({query:input})
let resultcontainer = document.getElementById("search-results")
let Spinner = document.getElementById("spinner")

if(input.trim()==="")
{
	resultcontainer.style.display ="none"
	return;
}
Spinner.style.display="block"
resultcontainer.style.display ="none"
resultcontainer.innerHTML=""


try{
	let response = await fetch(`/search_product?${query}`,{
		method:'GET'
	})
	console.log(response)
	if(response.ok)
	{
		let data = await response.json()
		if(data)
	{
		console.log(data)
		show_products(data.Products)
Spinner.style.display="none"

   
	}  else{
		resultcontainer.innerHTML = "<p>No results found.</p>";
		resultcontainer.style.display = "block";
	}
	}
	else{
		alert("false")
	}
}
catch(error)
{
	console.log(error.message)
}

}

function show_products(products) {
    const resultsContainer = document.getElementById("search-results");

    if (products.length === 0) {
        resultsContainer.innerHTML = "<p>No results found.</p>";
    } else {
        const list = document.createElement("ul");
        list.style.listStyleType = "none";
        list.style.padding = "0";

        products.forEach(product => {
            const listItem = document.createElement("li");
            listItem.style.display = "flex";
            listItem.style.alignItems = "center";
            listItem.style.padding = "10px";
            listItem.style.borderBottom = "1px solid #ddd";

            const image = document.createElement("img");
            image.src = `/Product_images/${product.images[0]}`;
            image.style.width = "50px";
            image.style.marginRight = "10px";
            
            const link = document.createElement("a");
            link.href = `/product/${product._id}`;
            link.textContent = product.name;
            link.style.flex = "1";

            listItem.appendChild(image);
            listItem.appendChild(link);
            list.appendChild(listItem);
        });

        resultsContainer.innerHTML = "";
        resultsContainer.appendChild(list);
    }

    resultsContainer.style.display = "block";
}

		async function upload_address() {
			try {
				console.log("start")
				

				let house_name = document.getElementById("house_name").value
           console.log(house_name)

				let street = document.getElementById("street").value



				let Area = document.getElementById("Area").value


				let pincode = document.getElementById("pincode").value


				let landmark = document.getElementById("landmark").value


				let district = document.getElementById("city").value


				let state = document.getElementById("state").value


			


				const address_body = {
					house_name: house_name,
					street: street,
					Area: Area,
					pincode: pincode,
					landmark: landmark,
					district: district,
					state: state,
					
				}
				console.log("dfggf")


				console.log(address_body)
				let response = await fetch("/Add_User_Address", {
					method: 'POST',
					body: JSON.stringify(address_body),
					headers: { "Content-Type": "application/json" }
				})


				console.log(response)

				let data = await response.json()
				console.log(data.message)
				if (data.message === "added address") {
					console.log("success")
					alertify.success("Address Added Successfully")
				}


			}
			catch (error) {
				console.log("error", error.message)
			}

		}
		let pro_ids = []
		let addrs_id;
		function only_one(checkbox, ad_id) {
			checkboxes = document.querySelectorAll('.address_checkbox')
			checkboxes.forEach(cb => {
				if (cb !== checkbox) {
					cb.checked = false
				}
			});
			addrs_id = ad_id
		}




		let selected_method;
		function select_payment_method(radio_btn) {
			let radio_btns = document.querySelectorAll(".pay_method")
			for (let btn of radio_btns) {

				if (btn === radio_btn) {
					selected_method = btn.value
				}

			}
			console.log(selected_method)

		}



		let productQuantities = []
		async function Place_Order(t_qty, t_price) {

			try {

				let qtys = document.querySelectorAll('.pro_qty')
				let pids = document.querySelectorAll('.pro_id')
				for (let i = 0; i < qtys.length; i++) {
					let quantity = qtys[i].value;
					let productId = pids[i].value;
					productQuantities.push({
						product_Id: productId,
						quantity: quantity
					});
				}
				let Adrs_is = addrs_id
				let req_body = { pid: productQuantities, adid: Adrs_is, T_QTY: t_qty, T_Price: t_price, pay_method: selected_method, purchased_date: Date.now() }
				const response = await fetch('/create_order', {
					method: 'POST',
					body: JSON.stringify(req_body),
					headers: { "Content-Type": "application/json" }
				})
				let data = await response.json()
				console.log(data)
				if (data.success === true) {
					showSuccessPopupCOD()
				}
			
				console.log(data.order_Id)
				console.log(data.key_Id)


				if (data) {
console.log("send it")
					var options = {
						"key": data.key_Id, // Enter the Key ID generated from the Dashboard
						"amount": t_price * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
						"currency": "INR",
						"name": "Electro",
						"image": "/img/logo.png",
						"order_id": data.order_Id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
						"handler":async  function (response) {
						 let pay_Id =    response.razorpay_payment_id;
					    let order_Id =  response.razorpay_order_id
						let signature =	response.razorpay_signature

						body_of_successPayment ={pay_Id:pay_Id,order_Id:order_Id,signature:signature,pid: productQuantities, adid: Adrs_is, T_QTY: t_qty, T_Price: t_price,purchased_date: Date.now() }
						console.log("body-----",body_of_successPayment)

						const res = await  fetch('/verify_payment',{
							method:'POST',
							body:JSON.stringify(body_of_successPayment),
							headers:{"Content-Type":"application/json"}
						})
                       const verified_data = await res.json()
					   console.log(verified_data)
					   if(verified_data){
						showSuccessPopuptwo()		  
					   }
					   else{
						alertify.error("error")
					   }
						},

						"theme": {
							"color": "#e73b3b",
							  "backgroundColor":"red"
						},

					}
					var rzp1 = new Razorpay(options)
					rzp1.on('payment.failed', function (response) {
						alert(response.error.code);
						alert(response.error.source);
						alert(response.error.step);
						alert(response.error.reason);
						alert(response.error.metadata.order_id);
						alert(response.error.metadata.payment_id);
					})
					rzp1.open()
				}


			}
			catch (error) {
				console.log(error.message)
			}
		}

		function showSuccessPopuptwo() {
        alertify.alert('Payment Successful', 
            'Your payment has been successfully processed . <br><br> <button onclick="window.location.href=\'/list_ordered_products\'" class="alertify-button-custom">View Orders</button>', 
            function() {
                alertify.success('Thank you for your purchase!');
            });
    }

	function showSuccessPopupCOD() {
        alertify.alert('Order Placed Successfully', 
            'Your order has been placed successfully. <br><br> <button onclick="window.location.href=\'/list_ordered_products\'" class="alertify-button-custom">View Orders</button>', 
            function() {
                alertify.success('Thank you for your order!');
            });
    }
	</script>
	


	<!-- jQuery Plugins -->
	
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>