<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Electro - HTML Ecommerce Template</title>

	<!-- alertify -->

	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css" />
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/semantic.min.css" />
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/bootstrap.min.css" />




	<!-- Google font -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/home_css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/home_css/slick.css" />
	<link type="text/css" rel="stylesheet" href="/home_css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/home_css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/home_css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/home_css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<style>
		
.search-results {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.search-result-item div {
    display: flex;
    flex-direction: column;
}

.search-result-item .item-name {
    font-weight: bold;
}

.search-result-item .item-category {
    font-size: 12px;
    color: #666;
}

		.product:hover {
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
			box-shadow: 0 0 10px 10px rgb(228, 227, 227);

		}

		.store-pagination:hover li {
	    cursor:pointer;
}
	</style>
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">

				<ul class="header-links pull-right">

					<% if (isAuth) { %>
						<li><a href="/user_Account"><i class="fa fa-user-o"></i>
								<%=USER.firstname %>
							</a></li>
						<a href="/logout_user">Logout</a>
						<% }else {%>

							<li><a href="/login"><i class="fa fa-user-o"></i> Login</a></li>

							<% } %>

				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/electro" class="logo">
								<img src="/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form style="display: flex;">
								<input 
									style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;border-top-right-radius: 50px;border-bottom-right-radius: 50px;width: 600px;" 
									class="input" 
									id="searchInput" 
									name="query" 
									placeholder="Search here...."
									oninput="debouncedSearch()"
								
								>
								
							</form>
							<div id="spinner" style="display: none;color: red;">
								<i class="fas fa-spinner fa-spin"></i> Searching...
							</div>
							<div id="search-results" class="search-results" style="display: none;">
								<!-- Search results will be injected here -->
							</div>
						</div>
						
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<%if(isAuth){%>

								<div>
									<a href="/wishlist">
										<i class="fa fa-heart-o"></i>
										<span>My Wishlist</span>
										<div class="qty">
											<%= wishlist_count %>
										</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>My Cart</span>
										<div class="qty">
											<%= Item_Count %>
										</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<% Cart.forEach(cart=> { %>
												<% cart_products.forEach(product=> { %>
													<% cart.items.forEach(item=> { %>

														<% if (item.product_Id.toString()===product._id.toString()) { %>
															<div class="product-widget">
																<div class="product-img">
																	<img src="/Product_images/<%= product.images[0] %>"
																		alt="">
																</div>
																<div class="product-body">
																	<h3 class="product-name"><a href="#">
																			<%= product.name %>
																		</a></h3>
																	<h4 class="product-price"><span class="qty">
																			<%= item.Quantity %>
																		</span><i class="fa fa-rupee"></i>
																		<%= product.price %>
																	</h4>
																</div>

															</div>

															<% } %>

																<% }) %>

																	<% }) %>
																		<% }) %>

										</div>
										<div class="cart-summary">
											<small>
												<%= Item_Count %> Items
											</small>
											<h5>SUBTOTAL:<i class="fa fa-rupee"></i>
												<%= TotalPrice %>
											</h5>
										</div>
										<div class="cart-btns">
											<a href="/cart">View Cart</a>
											<a href="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<% } else {%>
									<div>
										<a href="/login">
											<i class="fa fa-heart-o"></i>
											<span>My Wishlist</span>
											<div class="qty">
												0
											</div>
										</a>
									</div>
									<div class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
											href="/login">
											<i class="fa fa-shopping-cart"></i>
											<span>My Cart</span>
											<div class="qty">0</div>
										</a>
										<div class="cart-dropdown">
											<div class="cart-list">
											</div>
											<div class="cart-summary">
												<small>Item(s) selected</small>
												<h5>SUBTOTAL:</h5>
											</div>
											<div class="cart-btns">
												<a href="/login">View Cart</a>
												<a href="/checkout">Checkout <i
														class="fa fa-arrow-circle-right"></i></a>
											</div>
										</div>
									</div>

									<% } %>

										<!-- /Cart -->

										<!-- Menu Toogle -->
										<div class="menu-toggle">
											<a href="#">
												<i class="fa fa-bars"></i>
												<span>Menu</span>
											</a>
										</div>
										<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="/electro">Home</a></li>
					<li><a href="/new_products">New Arrivals</a></li>
					<% Categories.forEach(category=> { %>
						<li><a id="cat_id" href="/store/<%= category._id %> ">
								<%= category.name %>
							</a></li>
						<% }) %>

				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside Widget -->
					<div class="aside">

					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Price</h3>
						<div class="price-filter">
							<div type="range" id="price-slider"
								onpointermove="filter_by_price(window.location.pathname)"></div>
							<div class="input-number price-min">
								<input id="price-min" type="number" min="1"
									onchange="filter_by_price(window.location.pathname)">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
							<span>-</span>
							<div class="input-number price-max">
								<input id="price-max" type="number" min="1" max="100000"
									onchange="filter_by_price(window.location.pathname)">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">

						<div class="checkbox-filter">
							<div class="input-checkbox">
								<input type="checkbox" id="brand-1">

							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-2">

							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-3">


							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-4">

							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-5">

							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-6">

							</div>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Top selling</h3>

						<% Products.forEach(product=> { %>
							<div class="product-widget">
								<div class="product-img">
									<img src="/Product_images/<%=product.images[0] %>" alt="">
								</div>
								<div class="product-body">

									<p class="product-category">
										<%= product.category_Id.name %>
									</p>
									<h3 class="product-name"><a href="/product/<%= product._id %>">
											<%= product.name %>
										</a></h3>
									<h4 class="product-price">$<%= product.price %><del
												class="product-old-price">$990.00</del></h4>
								</div>
							</div>
							<% }) %>
					</div>
				</div>
				<!-- /ASIDE -->

				<!-- STORE -->
				<div id="store" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="store-sort">

						</div>

					</div>
					<!-- /store top filter -->

					<!-- store products -->
					<div class="row" id="grid_products">
						<!-- product -->
						<!-- <h1>product show</h1> -->
						<% Products.forEach(product=> { %>
							<div class="col-md-4 col-xs-6" id="product_div">
								<div class="product">
									<div class="product-img"
										onclick="window.location.href='/product/<%= product._id %>'">
										<img src="/Product_images/<%= product.images[0] %>" alt="<%=product.name %>"
											id="product_img">

									</div>
									<div class="product-body">

										<p class="product-category">
											<%= product.category_Id.name %>
										</p>
										<h3 class="product-name"><a href="/product/<%=product._id %>" id="product_name">
												<%= product.name %>
											</a></h3>
										<h4 class="product-price" id="product_price"><i class="fa fa-rupee"></i>
											<%= product.price %>
												<!-- <del class="product-old-price">$990.00</del> -->
										</h4>
										<!-- <div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div> -->
										<div class="product-btns">


										</div>
									</div>
								</div>
							</div>

							<% }) %>



								<div class="clearfix visible-sm visible-xs"></div>


								<div class="clearfix visible-lg visible-md"></div>


								<div class="clearfix visible-sm visible-xs"></div>



								<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>


								<div class="clearfix visible-sm visible-xs"></div>

								<!-- product -->

								<!-- /product -->
					</div>
					<!-- /store products -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<span class="store-qty">Showing 10 products</span>
						<ul class="store-pagination">
							<li class="active" value="1" onclick="categories_pagination(this.value,window.location.pathname)">1</li>
							<li value="2"  onclick="categories_pagination(this.value,window.location.pathname)" ><a>2</a></li>
							<li value="3"  onclick="categories_pagination(this.value,window.location.pathname)"><a >3</a></li>
	
							<li ><a ><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<% Categories.forEach(category=> { %>
									<li><a href="/store/<%= category._id %> "">
											<%=category.name %>
										</a></li>

									<% }) %>

							</ul>
						</div>
					</div>

					<div class=" clearfix visible-xs">
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="/contact_us">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<% if (isAuth) { %>
										<li><a href="/user_Account">
												<%= USER.firstname %>
											</a></li>
										<% } %>
											<li><a href="/cart">View Cart</a></li>
											<li><a href="/wishlist">Wishlist</a></li>
											<li><a href="#">Track My Order</a></li>
											<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved | This
								template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
									href="https://colorlib.com" target="_blank">Abhinand</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
				 <!-- /row --> 
				</div>
			 <!-- /container -->
			</div>
		 <!-- /bottom footer --> 
	</footer>
	<!-- /FOOTER -->
	<script>
let debouncedtimer;
function debouncedSearch()
{
clearTimeout(debouncedtimer)
 debouncedtimer= setTimeout(() => {
		search_it()
	}, 300);
}
	
async function search_it()
{
let input =	document.getElementById("searchInput").value
let query = new URLSearchParams({query:input})
let resultcontainer = document.getElementById("search-results")
let Spinner = document.getElementById("spinner")

if(input.trim()==="")
{
	resultcontainer.style.display ="none"
	return;
}
Spinner.style.display="block"
resultcontainer.style.display ="none"
resultcontainer.innerHTML=""


try{
	let response = await fetch(`/search_product?${query}`,{
		method:'GET'
	})
	console.log(response)
	if(response.ok)
	{
		let data = await response.json()
		if(data)
	{
		console.log(data)
		show_products(data.Products)
Spinner.style.display="none"

   
	}  else{
		resultcontainer.innerHTML = "<p>No results found.</p>";
		resultcontainer.style.display = "block";
	}
	}
	else{
		alert("false")
	}
}
catch(error)
{
	console.log(error.message)
}

}

function show_products(products) {
    const resultsContainer = document.getElementById("search-results");

    if (products.length === 0) {
        resultsContainer.innerHTML = "<p>No results found.</p>";
    } else {
        const list = document.createElement("ul");
        list.style.listStyleType = "none";
        list.style.padding = "0";

        products.forEach(product => {
            const listItem = document.createElement("li");
            listItem.style.display = "flex";
            listItem.style.alignItems = "center";
            listItem.style.padding = "10px";
            listItem.style.borderBottom = "1px solid #ddd";

            const image = document.createElement("img");
            image.src = `/Product_images/${product.images[0]}`;
            image.style.width = "50px";
            image.style.marginRight = "10px";
            
            const link = document.createElement("a");
            link.href = `/product/${product._id}`;
            link.textContent = product.name;
            link.style.flex = "1";

            listItem.appendChild(image);
            listItem.appendChild(link);
            list.appendChild(listItem);
        });

        resultsContainer.innerHTML = "";
        resultsContainer.appendChild(list);
    }

    resultsContainer.style.display = "block";
}



async function filter_by_price(url) {
    try {
        const min_price = document.getElementById('price-min').value;
        const max_price = document.getElementById('price-max').value;
        const productContainer = document.getElementById('grid_products'); // Reference to the main div

        // Prepare filter parameters
        const filter_price = { "price_min": min_price, "price_max": max_price };
        const query = new URLSearchParams(filter_price);

        // Extract category ID from URL
        const cate_Id = url.split('/')[2];

        // Fetch filtered products
        const response = await fetch(`/store/filter_products_by_price/${cate_Id}?${query}`, {
            method: 'GET'
        });

        const data = await response.json();
        const filteredProducts = data.filtered_products;
       console.log(filteredProducts)
        // Clear previous products
        productContainer.innerHTML = '';

        // Create and append new product elements
        filteredProducts.forEach(product => {
            // Create elements for each product
            const productDiv = document.createElement('div');
            productDiv.className = 'col-md-4 col-xs-6'; // Match your existing layout

            const productCard = document.createElement('div');
            productCard.className = 'product';

            const productImg = document.createElement('div');
            productImg.className = 'product-img';
            productImg.onclick = () => window.location.href = `/product/${product._id}`;

            const img = document.createElement('img');
            img.src = `/Product_images/${product.images[0]}`;
            img.alt = product.name;
            img.id = 'product_img';

            productImg.appendChild(img);

            const productBody = document.createElement('div');
            productBody.className = 'product-body';

            const category = document.createElement('p');
            category.className = 'product-category';
            category.textContent = product.category_Id.name;

            const name = document.createElement('h3');
            name.className = 'product-name';
            name.innerHTML = `<a href="/product/${product._id}" id="product_name">${product.name}</a>`;

            const price = document.createElement('h4');
            price.className = 'product-price';
            price.id = 'product_price';
            price.innerHTML = `<i class="fa fa-rupee"></i>${product.price}`;

            productBody.appendChild(category);
            productBody.appendChild(name);
            productBody.appendChild(price);

            productCard.appendChild(productImg);
            productCard.appendChild(productBody);

            productDiv.appendChild(productCard);

            productContainer.appendChild(productDiv);
        });
    } catch (error) {
        console.error('Error fetching filtered products:', error);
    }
}


async function categories_pagination(val,url){
try{

const productContainer = document.getElementById('grid_products'); 
// console.log(url.split('/'))// Reference to the main div
let cate_Id = url.split('/')[2]
console.log(cate_Id)
 let  query = new URLSearchParams({"value":val,"cat_Id":cate_Id})
 const response = await  fetch(`/get_splitted_categorised_product?${query}`,{method:'GET'})
 
 const data = await response.json()
 const LimitedProducts = data.limited_products
 console.log(LimitedProducts)

 productContainer.innerHTML = '';

// Create and append new product elements
LimitedProducts.forEach(product => {
	// Create elements for each product
	const productDiv = document.createElement('div');
	productDiv.className = 'col-md-4 col-xs-6'; // Match your existing layout

	const productCard = document.createElement('div');
	productCard.className = 'product';

	const productImg = document.createElement('div');
	productImg.className = 'product-img';
	productImg.onclick = () => window.location.href = `/product/${product._id}`;

	const img = document.createElement('img');
	img.src = `/Product_images/${product.images[0]}`;
	img.alt = product.name;
	img.id = 'product_img';

	// Create and append product label
   
	productImg.appendChild(img);

	const productBody = document.createElement('div');
	productBody.className = 'product-body';

	const category= document.createElement('P')
	category.className='product-category';
	category.textContent=product.category_Id.name


	const name = document.createElement('h3');
	name.className = 'product-name';
	name.innerHTML = `<a href="/product/${product._id}" id="product_name">${product.name}</a>`;

	const price = document.createElement('h4');
	price.className = 'product-price';
	price.id = 'product_price';
	price.innerHTML = `<i class="fa fa-rupee"></i>${product.price}`;

	productBody.appendChild(category);
	productBody.appendChild(name);
	productBody.appendChild(price);

	productCard.appendChild(productImg);
	productCard.appendChild(productBody);

	productDiv.appendChild(productCard);

	productContainer.appendChild(productDiv);
});
} catch (error) {
console.log( error.message);
}
}










	

	</script>
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

	<!-- jQuery Plugins -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>